<article>
	
<%= @article %>

<footer>
	<p>
		&mdash;<a href="/about"><strong>Barry Frost</strong></a>, 
		<a href="<%= @item.created_at.strftime('/%Y/%m/%d/') %>"><time style="text-transform: lowercase;" title="<%= @item.created_at.strftime('%Y-%m-%d') %>"><%= @item.created_at.strftime('%Y-%m-%d') %></time></a>.
		<code><a href="<%= shorturl %><%= @shortcode %>" title="Short URL to link to this article."><%= shorturl %><%= @shortcode %></a></code>
	</p>
</footer>

</article>
