<div class="photo">
	<img src="/images/barryf.jpg" alt="Photo of Barry Frost" width="60" height="60" />
</div>

<h2>Hello, I&rsquo;m <a href="/about" rel="me"><strong>Barry Frost</strong></a>. I live in <a href="http://en.wikipedia.org/wiki/Windsor,_Berkshire">Windsor</a> in the UK where I&rsquo;m <a href="http://www.linkedin.com/in/barryfrost" rel="me">Technical Director</a> of <a href="http://www.globalpersonals.co.uk/">Global Personals</a> and lead the <a href="http://globaldev.co.uk/">globaldev</a> team. Read more <a href="/about" rel="me">about me</a> or <a href="/articles/a-new-start">this site</a>.</h2>

<h3>
	My latest article is &lsquo;<a href="<%= @latest_article.url %>"><%= @latest_article.title %></a>&rsquo;, posted <a style="text-transform: lowercase" href="<%= @latest_article.created_at.strftime('/%Y/%m/%d') %>"><span class="date" title="<%= @latest_article.created_at.strftime('%F') %>"><%= @latest_article.created_at %></span></a>.
</h3>

