<div class="photo">
	<img src="/images/barryf.jpg" alt="Photo of Barry Frost" width="60" height="60" />
</div>

<h2>Hello, I&rsquo;m <a href="/about" rel="me"><strong>Barry Frost</strong></a>. I live in <a href="http://en.wikipedia.org/wiki/Virginia_Water">Virginia Water</a> in the UK. I&rsquo;m <a href="http://www.linkedin.com/in/barryfrost" rel="me" title="Chief Technical Officer">CTO</a> of <a href="http://globalpersonals.co.uk/">Global Personals</a> and lead our <a href="http://globaldev.co.uk/">globaldev</a> development team. Read more <a href="/about" rel="me">about me</a> or <a href="/articles/a-new-start">this site</a>.</h2>

<!--
<h3>
	My latest article is &lsquo;<a href="<%= @latest_article.url %>"><%= @latest_article.title %></a>&rsquo;, posted <a style="text-transform: lowercase" href="<%= @latest_article.created_at.strftime('/%Y/%m/%d') %>"><span class="date" title="<%= @latest_article.created_at.strftime('%F') %>"><%= @latest_article.created_at.strftime('%d %B') %></span></a>.
</h3>
-->

<h3>
    You can find me on
	<a href="https://twitter.com/barryf" rel="me" title="Twitter tweets. They may make no sense out of context.">Twitter</a>,
	<a href="https://alpha.app.net/barryf" rel="me" title="App.Net status posts.">App.Net</a>,
	<a href="http://www.linkedin.com/in/barryfrost" rel="me" title="My LinkedIn professional public profile.">LinkedIn</a>,
	<a href="https://plus.google.com/106229731941957794203/about" rel="me" title="Google+/profile page.">Google+</a>,
	<a href="https://pinboard.in/u:barryf" rel="me" title="My Pinboard links. Rather geeky.">Pinboard</a>,
	<a href="https://github.com/barryf" rel="me" title="A handful of projects I've open sourced/shared.">GitHub</a>,
	<a href="http://www.flickr.com/photos/barryf" rel="me" title="My Flickr photos. Amateur at best, I&rsquo;m afraid.">Flickr</a> and
	<a href="http://www.last.fm/user/barryf" rel="me" title="Songs I've scrobbled to Last.fm.">Last.fm</a>.
</h3>