<% 
	last_day = ''
	last_source = ''
%>
<ol>
<% @items.each do |item| 

	# show the date although hide year if it's the same as this one
	item_day = item.created_at.year == Time.now.year ? item.created_at.strftime('%d %B') : item.created_at.strftime('%d %b %Y')

	# only show the first flickr photo uploaded in a batch
	if item.source == 'flickr' && last_source == 'flickr' && last_day == item_day
		next
	end
	
	if last_day != item_day
		if last_day != ''
			%></ol></li><%
		end
	%>
	<li>
		<h4><a href="<%= item.created_at.strftime('/%Y/%m/%d') %>"><time title="<%= item.created_at.strftime('%F') %>"><%= item_day %></time></a></h4>
		<ol>
		<% last_day = item_day 
	end %>
	
	<li class="<%= item.source %>">
	<dl id="_<%= item.uid %>">
		<% case item.source
			when 'entry' %>
				<dd class="permalink">
					<a href="<%= item.url %>">
						<%= item.created_at.strftime('%H:%M') %>
					</a>
				</dd>
				<dt><a href="<%= item.url %>"><%= h item.title %></a></dt>
				<% if item.summary != '' %><dd><%= h item.summary %></dd><% end %>
		<% when 'delicious' %>
				<dd class="permalink">
					<a href="http://www.delicious.com/url/<%= Digest::MD5.hexdigest(item.url) %>">
						<%= item.created_at.strftime('%H:%M') %>
					</a>
				</dd>
				<dt><a href="<%= item.url %>"><%= h item.title %></a></dt>
				<% if item.body != '' %><dd><%= h item.body %></dd><% end %>
			<% when 'twitter' %>
				<dd class="permalink">
					<a href="http://twitter.com/<%= ACCOUNTS['twitter']['screen_name'] %>/status/<%= item.uid %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dd>
				<dt>
					<%= item.body %>
					<% if item.oembed
						item.oembed.each do |json|
							oembed = JSON.parse(json)
							case oembed['provider_name']
							when 'YouTube' 
								# find the video id in embed html and link to it rather than embed
								re = Regexp.new('\/e\/([A-Za-z0-9]*)')
								v = oembed['html'].match(re)[1] %>
								<br /><a href="http://www.youtube.com/watch?v=<%= v %>"><img src="<%= oembed['thumbnail_url'] %>" style="height: 60px;" /></a>
							<% when 'TwitPic' %>
								<br /><a href="<%= oembed['url'] %>"><img src="<%= oembed['thumbnail_url'] %>" style="height: 60px;" /></a>
							<% else %>
								<br /><a href="<%= oembed['url'] %>"><img src="<%= oembed['thumbnail_url'] %>" style="height: 60px;" /></a>
								<%= oembed['html'] %>
							<% end
						end 
					end %>
				</dt>
			<% when 'lastfm' %>
				<dd class="permalink">
					<a href="<%= item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dd>
				<dt>
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %><br /><img src="<%= item.thumbnail_url %>" style="height: 60px;" /><% end %>
					</a>
				</dt>
			<% when 'youtube' %>
				<dd class="permalink">
					<a href="<%= item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dd>
				<dt>
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %>
							<br /><img src="<%= item.thumbnail_url %>" style="height: 60px;" />
						<% end %>
					</a>
				</dt>
			<% when 'flickr' %>
				<dd class="permalink">
					<a href="<%= item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dd>
				<dt>
					<a href="<%= item.url %>">
						<%= h item.title %>
						<% if item.thumbnail_url != '' %>
							<br /><img src="<%= item.thumbnail_url %>" />
						<% end %>
					</a>
				</dt>
		<% end %>
	</dl>
	</li>
	
	<% last_source = item.source %>
<% end %>

	</ol>
	</li>
</ol>

<% # if this is the index page and not an ajax call, close the div and include the javascript needed
	if !request.xhr? && @page %>
		<script src="/js/jquery.infinitescroll.js"></script>
		<script>
			$(window).infinitescroll({
			    url: window.location.href,
			    page: <%= @page + 1 %>,
			    triggerAt: 500,
			    appendTo: '#content'
			 });
		</script>
<% end %>
	
<!-- Fragment generated <%= Time.now %> -->