<!doctype html>
<html>
	<head>
		<title>Merging tweets</title>
	</head>
	<body>
		
		<div id="content">
			<% 
				last_day = Time.now.strftime('%Y-%m-%d') 
				last_epoch = 0
			%>
			<% @items.each do |item| %>
				<% 
				item_date = ParseDate.parsedate(item.created_at.to_s)
				item_day = "#{'%02d' % item_date[0]}-#{'%02d' % item_date[1]}-#{'%02d' % item_date[2]}"
				if last_day != item_day 
				%>
					<h4><%= item_day %></h4>
					<% last_day = item_day %>
				<% end %>
				<dl>
					<% case item.source
						when 'delicious' %>
							<dt><%= item.title %></dt>
							<% if item.body != '' %><dd><%= item.body %></dd><% end %>
						<% when 'twitter' %>
							<dt>&ldquo;<%= parse_tweet item.body %>&rdquo;</dt>
					<% end %>
				</dl>
				<% last_epoch = item.created_at.to_i %>
			<% end %>
		</div>
		
		<p><a href="/?ts=<%= last_epoch %>" onclick="load_next(<%= last_epoch %>); $(this).hide(); return false">Next</a></p>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script>
			function load_next(e) {
				$.ajax({ url: "/?ts=<%= last_epoch %>", success: function(data){
					$('#content').append(data);
				}});
			}
		</script>
	</body>
</html>