<% # display some extra content if this isn't an ajax call
if !request.xhr?

	# if this is the homepage include the top home header block
    if @body_class == 'home' %>
		<div id="home">
			<%= erb :home %>
		</div>
	<% end %>

	<div id="types">
		<nav>
			<ul>
				<li class="home"><a href="/" title="Home">↩ Home</a></li>
				<li class="blog <% if @source == 'blog' %>active<% end %>"><a href="/articles/" title="Articles and notes from my blog">Articles</a></li>
				<li class="twitter <% if @source == 'twitter' %>active<% end %>"><a href="/tweets/" title="Tweets from Twitter (@barryf)">Tweets</a></li> 
				<li class="delicious <% if @source == 'delicious' %>active<% end %>"><a href="/links/" title="Bookmarked links on Delicious (barryf)">Links</a></li> 
				<li class="flickr <% if @source == 'flickr' %>active<% end %>"><a href="/photos/" title="My Flickr photos (barryf)">Photos</a></li> 
				<li class="youtube <% if @source == 'youtube' %>active<% end %>"><a href="/videos/" title="Favourite YouTube videos (barryfrost)">Videos</a></li> 
				<li class="lastfm <% if @source == 'lastfm' %>active<% end %>"><a href="/music/" title="Tracks I've loved and scrobbled to Last.fm (barryf)">Music</a></li>
			</ul>
		</nav>
	</div>

	<div id="content">

<% end

last_day = ''
last_source = ''

%>
<ol>
<% @items.each do |item| 

	# show the date although hide year if it's the same as this one
	item_day = item.created_at.year == Time.now.year ? item.created_at.strftime('%d %B') : item.created_at.strftime('%d %b %Y')

	# only show the first flickr photo uploaded in a batch
	if item.source == 'flickr' && last_source == 'flickr' && last_day == item_day
		next
	end
	
	if last_day != item_day
		if last_day != ''
			%></ol></li><%
		end
	%>
	<li>
		<h4><a href="<%= item.created_at.strftime('/%Y/%m/%d') %>"><span class="date" title="<%= item.created_at.strftime('%F') %>"><%= item_day %></span></a></h4>
		<ol>
		<% last_day = item_day 
	end %>
	
	<li class="<%= item.source %>">
	<dl id="_<%= item.uid %>">
		<% case item.source
			when 'blog' %>
				<dt class="permalink">
					<a href="<%= shorturl %><%= item.shortcode %>" rel="bookmark" title="<%= h item.url %>">
						<%= item.created_at.strftime('%H:%M') %>
					</a>
				</dt>
				<dt><a href="<%= item.url %>"><%= h item.title %></a></dt>
				<dd><%= h item.body %></dd>
			<% when 'delicious' %>
				<dt class="permalink">
					<a href="<%= shorturl %><%= item.shortcode %>" rel="bookmark" title="<%= h item.url %>">
						<%= item.created_at.strftime('%H:%M') %>
					</a>
				</dt>
				<dd class="title"><a href="<%= item.url %>"><%= h item.title %></a></dd>
				<% if item.body != '' %><dd><%= h item.body %></dd><% end %>
			<% when 'twitter' %>
				<dt class="permalink">
					<a href="<%= shorturl %><%= item.shortcode %>" rel="bookmark" title="<%= h item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dt>
				<dd>
					<%= item.body %>
					<% if item.oembed != nil && item.oembed.length > 2
						begin
							oembed = JSON.parse(item.oembed)
							case oembed['provider_name']
							when 'YouTube'
								# find the video id in embed html and link to it rather than embed
								re = Regexp.new('\/[ev]{1}\/([A-Za-z0-9]*)')
								v = oembed['html'].match(re)[1] %>
								<br /><a href="http://www.youtube.com/watch?v=<%= v %>"><img src="<%= oembed['thumbnail_url'] %>" style="height: 60px;" /></a>
							<% when 'TwitPic' %>
								<br /><a href="<%= oembed['url'] %>"><img src="<%= oembed['thumbnail_url'] %>" style="height: 60px;" /></a>
							<% else %>
								<br /><a href="<%= oembed['url'] %>"><img src="<%= oembed['thumbnail_url'] %>" style="height: 60px;" /></a>
								<%= oembed['html'] %>
							<% end
						rescue TypeError => e
							# ignore oembed errors
						end
					end %>
				</dd>
				<% # any geo data?
				if item.geo_lat != nil %>
					<dd class="geo">
						<a href="http://maps.google.com/maps?q=<%= item.geo_lat %>,<%= item.geo_lng %>" style="display: inline">
							<img src="http://maps.google.com/maps/api/staticmap?center=<%= item.geo_lat %>,<%= item.geo_lng %>&amp;markers=color:red%7C<%= item.geo_lat %>,<%= item.geo_lng %>&amp;zoom=13&amp;size=200x80&amp;sensor=false" alt="<%= item.geo_name %>" />
							<br />
							<%= item.geo_name %>
						</a>
					</dd>
				<% end %>
			<% when 'lastfm' %>
				<dt class="permalink">
					<a href="<%= shorturl %><%= item.shortcode %>" rel="bookmark" title="<%= h item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dt>
				<dd>
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %><br /><img src="<%= item.thumbnail_url %>" style="height: 60px;" /><% end %>
					</a>
				</dd>
			<% when 'youtube' %>
				<dt class="permalink">
					<a href="<%= shorturl %><%= item.shortcode %>" rel="bookmark" title="<%= h item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dt>
				<dd>
					<a href="<%= h item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %>
							<br /><img src="<%= item.thumbnail_url %>" style="height: 60px;" />
						<% end %>
					</a>
				</dd>
			<% when 'flickr' %>
				<dt class="permalink">
					<a href="<%= shorturl %><%= item.shortcode %>" rel="bookmark" title="<%= h item.url %>">
						<%= item.created_at.strftime('%H:%M')%>
					</a>
				</dt>
				<dd>
					<a href="<%= h item.url %>">
						<%= h item.title %>
						<% if item.thumbnail_url != '' %>
							<br /><img src="<%= item.thumbnail_url %>" />
						<% end %>
					</a>
				</dd>
		<% end %>
	</dl>
	</li>
	
	<% last_source = item.source 
end %>

	</ol>
	</li>
</ol>

<% # if not an ajax call, close the div
if !request.xhr? %>
	</div>
	<% # if this is the home page, include the sticky js 
	if @body_class == 'home' %>
		<script src="/js/sticky.js"></script>
	<% end
	# if this has pagination include the javascript needed
	if @page %>
		<script src="/js/jquery.infinitescroll.js"></script>
		<script>
			$(window).infinitescroll({
			    url: window.location.href,
			    page: <%= @page + 1 %>,
			    triggerAt: 500,
			    appendTo: '#content'
			 });
		</script>
	<% end
end %>

<!-- Fragment generated <%= Time.now %> -->