<% 
	last_day = ''
	last_epoch = 0
%>

<ol>
<% @items.each do |item| %>

	<% 
	item_day = relative_date(item.created_at)
	
	if last_day != item_day
		if last_day != ''
			%></ol></li><%
		end
	%>
		<li>
		<h4><%= item_day %></h4>
		<ol>
		<% last_day = item_day 
	end %>
	
	<li class="<%= item.source %>">
	<dl>
		<% case item.source
			when 'delicious' %>
				<dd class="what"><a href="<%= item.url %>"><%= item.title %></a></dd>
				<% if item.body != '' %><dd class="body"><%= item.body %></dd><% end %>
				<dd class="when">
					<abbr><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="http://www.delicious.com/url/<%= Digest::MD5.hexdigest(item.url) %>">Delicious</a>
					<% 
						if item.tags != ''
							%> // <%
							item.tags.split(' ').each do |tag|
								%><a href="http://delicious.com/barryf/<%= tag %>"><%= tag %></a> <%
							end
						end
					%>
				</dd>
			<% when 'twitter' %>
				<dd class="what"><%= parse_tweet item.body %></dd>
				<dd class="when">
					<abbr><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="http://twitter.com/barryf/status/<%= item.uid %>">Tweet</a>
				</dd>
			<% when 'lastfm' %>
				<dd class="what">
					Loved 
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %><br /><img src="<%= item.thumbnail_url %>" /><% end %>
					</a>
				</dd>
				<dd class="when">
					<abbr><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="<%= item.url %>">Last.fm Loved</a>
				</dd>
			<% when 'youtube' %>
				<dd class="what">
					Favourited 
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %><br /><img src="<%= item.thumbnail_url %>" height="60" /><% end %>
					</a>
				</dd>
				<dd class="when">
					<abbr><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="<%= item.url %>">YouTube Favourite</a>
				</dd>
		<% end %>
	</dl>
	</li>
	
	<% last_epoch = item.created_at.to_i %>
<% end %>
</ol></li>

<% if last_epoch != 0 %>
	<p><a style="text-align: center; display: block;" href="/?ts=<%= last_epoch %>" onclick="load_next(<%= last_epoch %>); $(this).hide(); return false">&darr; More&hellip;</a></p>
<% end %>
