<% 
	last_day = ''
	last_epoch = 0
	last_source = ''

	# don't show nav if this is an ajax request
	if !request.xhr?
		%>
		<ul id="nav"> 
			<li class="entry"><a href="#">Entries</a></li>
			<li class="twitter"><a href="http://twitter.com/barryf" title="Tweets from Twitter (@barryf)">Tweets</a></li> 
			<li class="delicious"><a href="http://delicious.com/barryf" title="Bookmarked links on Delicious (barryf)">Links</a></li> 
			<li class="flickr"><a href="http://flickr.com/photos/barryf" title="My Flickr photos (barryf)">Photos</a></li> 
			<li class="youtube"><a href="http://www.youtube.com/user/barryfrost#g/f" title="Favourite YouTube videos (barryfrost)">Videos</a></li> 
			<li class="lastfm"><a href="http://www.last.fm/user/barryf" title="Tracks I've loved and scrobbled to Last.fm (barryf)">Music</a></li> 
		</ul>
		<div id="stream">
		<%
	end
%>

<ol>

<% @items.each do |item| %>

	<% 
	item_day = relative_date(item.created_at)

	# only show the first flickr photo uploaded in a batch
	if item.source == 'flickr' && last_source == 'flickr' && last_day == item_day
		next
	end
	
	if last_day != item_day
		if last_day != ''
			%></ol></li><%
		end
	%>
		<li>
		<h4><a href="<%= item.created_at.strftime('/%Y/%m/%d') %>" title="<%= item.created_at.strftime('%F') %>"><%= item_day %></a></h4>
		<ol>
		<% last_day = item_day 
	end %>
	
	<li class="<%= item.source %>">
	<dl>
		<% case item.source
			when 'delicious' %>
				<dt class="what"><a href="<%= item.url %>"><%= h item.title %></a></dt>
				<% if item.body != '' %><dd class="body"><%= h item.body %></dd><% end %>
				<dd class="when">
					<abbr title="<%= item.created_at %>"><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="http://www.delicious.com/url/<%= Digest::MD5.hexdigest(item.url) %>">Delicious</a>
					<% 
						#if item.tags != ''
						#	%> &middot; <%
						#	item.tags.split(' ').each do |tag|
						#		%><a href="http://delicious.com/<%= ACCOUNTS['delicious']['user'] %>/<%= tag %>"><%= tag %></a> <%
						#	end
						#end
					%>
				</dd>
			<% when 'twitter' %>
				<dd class="what"><%= parse_tweet item.body %></dd>
				<dd class="when">
					<abbr title="<%= item.created_at %>"><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="http://twitter.com/<%= ACCOUNTS['twitter']['screen_name'] %>/status/<%= item.uid %>">Tweet</a>
				</dd>
			<% when 'lastfm' %>
				<dd class="what">
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %><br /><img src="<%= item.thumbnail_url %>" style="height: 60px;" /><% end %>
					</a>
				</dd>
				<dd class="when">
					<abbr title="<%= item.created_at %>"><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="<%= item.url %>">Last.fm Loved</a>
				</dd>
			<% when 'youtube' %>
				<dd class="what">
					<a href="<%= item.url %>">
						<%= item.title %>
						<% if item.thumbnail_url != '' %>
							<img src="<%= item.thumbnail_url %>" style="height: 60px;" />
						<% end %>
					</a>
				</dd>
				<dd class="when">
					<abbr title="<%= item.created_at %>"><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="<%= item.url %>">YouTube Favourite</a>
				</dd>
			<% when 'flickr' %>
				<dd class="what">
					<a href="<%= item.url %>">
						<%= h item.title %>
						<% if item.thumbnail_url != '' %>
							<img src="<%= item.thumbnail_url %>" />
						<% end %>
					</a>
				</dd>
				<dd class="when">
					<abbr title="<%= item.created_at %>"><%= item.created_at.strftime('%H:%M')%></abbr>
					&middot;
					<a href="<%= item.url %>">Flickr Photo</a>
				</dd>
		<% end %>
	</dl>
	</li>
	
	<% 
		last_epoch = item.created_at.to_i 
		last_source = item.source
	%>
<% end %>
</ol></li>

<%  # show "more" link if the last ajax call wasn't empty and we've shown all 30 results
	if last_epoch != 0 && @items.length == 30 %>
	<p><a style="text-align: center; display: block;" href="/?ts=<%= last_epoch %>" onclick="load_next(<%= last_epoch %>); $(this).hide(); return false">&darr; More&hellip;</a></p>
<% else %>
	</ol>
	</div>
<% end %>