<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%= @title || '' %></title>
		<link rel="stylesheet" href="/css/screen.css" type="text/css" />
		<link rel="alternate" href="/atom.xml" type="application/atom+xml" title="Articles feed (atom)" />
		<meta name="description" content="Barry Frost's personal website. Articles, tweets, links and other content by Barry." /> 
		<% if defined?(@shortcode) %><link rel="shorturl" href="<%= shorturl + @shortcode %>" /><% end %>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-158467-6']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script src="http://use.typekit.com/jxy6qmc.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	</head>
	<body class="<%= @body_class || '' %>">

<%= yield %>

		<% # only show sidebar on article/static pages
		if @body_class == 'article' || @body_class == 'static' %>
			<%= erb(:sidebar) %>
		<% end %>
		<script src="/js/dates.js"></script>
		<!-- Page generated <%= Time.now %> -->
	</body>
</html>