<!doctype html>
<html>
	<head>
		<title><%= @title ||= '' %></title>
		<link rel="stylesheet" href="/css/screen.css" type="text/css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-158467-6']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<script type="text/javascript" src="http://use.typekit.com/jxy6qmc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body class="<%= @body_class ||= '' %>">
		<header>
			<a href="/"><img src="/images/barryf-small.jpg" alt="Barry Frost" /></a>
			<h2>Hello, this is my work-in-progress life stream aggregator project. More soon.</h1>
			<p><a href="http://barryfrost.com">barryfrost.com</a></p>
			<p><a href="http://twitter.com/barryf">@barryf</a></p>
		</header>

<%= yield %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<% if !@page.nil? %>
			<script src="/js/jquery.infinitescroll.js"></script>
			<script>
				$(window).infinitescroll({
				    url: window.location.href,
				    page: <%= @page + 1 %>,
				    triggerAt: 500,
				    appendTo: '#stream'
				 });
			</script>
		<% end %> 
		<!-- Page generated <%= Time.now %> -->
	</body>
</html>