<div id="sidebar" class="vcard">
	<p class="photo">
		<a href="<%= canonicalurl %>">
			<img src="<%= canonicalurl %>images/barryf.jpg" alt="Photo of Barry Frost" width="60" height="60" />
			<span>↩ Home</span>
		</a>
	</p>
	<p class="intro">Hello, I&rsquo;m <a class="url" rel="author" href="<%= canonicalurl %>about"><strong class="fn">Barry Frost</strong></a>. I live in <span class="adr"><a href="http://en.wikipedia.org/wiki/Windsor,_Berkshire" class="locality">Windsor</a> in the <abbr class="country-name" title="United Kingdom">UK</abbr></span> where I&rsquo;m <a href="http://www.linkedin.com/in/barryfrost" class="title" title="Chief Technical Officer">CTO</a> of <a href="http://globalpersonals.co.uk/">Global Personals</a> and lead the <a href="http://globaldev.co.uk/">globaldev</a> team. Read more <a href="<%= canonicalurl %>about">about me</a> or <a href="<%= canonicalurl %>articles/a-new-start">this site</a>.</p>
	<p><a href="http://twitter.com/barryf" class="twitter-follow-button" data-button="grey" data-text-color="#eeeeee" data-link-color="#ffffff" data-show-count="false">Follow @barryf</a><script src="http://platform.twitter.com/widgets.js"></script></p>
	<h2>Elsewhere</h2>
	<ul>
		<li><a href="http://twitter.com/barryf" rel="me" title="Twitter tweets. They may make no sense out of context.">Twitter <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://www.linkedin.com/in/barryfrost" rel="me" title="My LinkedIn professional public profile.">LinkedIn <span class="account">&ndash; barryfrost</span></a></li>
		<li><a href="https://plus.google.com/106229731941957794203/about" rel="me" title="Google+/profile page.">Google+ <span class="account">&ndash; barryfrost</span></a></li>
		<li><a href="http://delicious.com/barryf" rel="me" title="My Delicious links. Rather geeky.">Delicious <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://github.com/barryf" rel="me" title="A handful of projects I've open sourced/shared.">GitHub <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://flickr.com/photos/barryf" rel="me" title="My Flickr photos. Amateur at best, I&rsquo;m afraid.">Flickr <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://last.fm/user/barryf" rel="me" title="Songs I've scrobbled to Last.fm.">Last.fm <span class="account">&ndash; barryf</span></a></li>
		<li><a href="http://lanyrd.com/people/barryf" rel="me" title="Conferences and meet-ups I'm attending.">Lanyrd <span class="account">&ndash; barryf</span></a></li>
	</ul>
	<h2>Also</h2>
	<ul>
		<li><a href="<%= canonicalurl %>feed" title="A feed of just the blog articles for your feed reader (e.g. Google Reader).">Subscribe to articles</a></li>
		<li><a href="http://suda.co.uk/projects/X2V/get-vcard.php?uri=http://barryfrost.com/about" title="My microformats-powered vCard.">vCard</a> (via <a href="http://suda.co.uk/projects/X2V/">X2V</a>)</li>
		<li><a href="mailto:barry@barryfrost.com" class="email" title="Send an email to me using your email client.">Email me</a></li>
	</ul>
	<p>Built and powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="http://www.heroku.com/">Heroku</a> and me.</p>
	<p>&copy; Barry Frost 2011&mdash;</p>
</div>